Normative references

https://mailarchive.ietf.org/arch/msg/suit/aO64Ga0UysSThUqPf8mhWGYCJ_g/

Russ stated:
- There are downrefs to four Informational RFCs: RFC 6024, RFC 7228, RFC 9019, and RFC 9124.
- Looking at each one, I think these can be informational references.

I agree with that, and that feedback has also not been responded to or acted on yet.