Mismatch in References section

Reported by @dthaler 

1. RFC 8392 is in the normative refs section but as far as I can find, it is
never cited in the document.
2. Same issue for RFC 8747.
3. Same issue for RFC 3986.
4. ietf-suit-firmware-encryption looks normatively cited in the document but is in the informative refs section.

The PR https://github.com/suit-wg/suit-multiple-trust-domains/pull/25/files fixed the 
> ietf-suit-firmware-encryption looks normatively cited in the document but is in the informative refs section.

This change is in the GitHub, but not in the I.D.suit-multiple-trust-domains yet.

@bremoran Thanks, closing this issue.